# Global ignore config

# General files
my.notes

# My Neovim files
Session.vim
nvim_commands.sh

# Common libraries/packages folders
/node_modules
/vendor

# Signing files
*.keystore

# laravel-nvim
*.tinker
